<div class="admin-menu fold">
    <p class="admin-menu-f" id="admin-menu-f"><i class="layui-icon layui-icon-more"></i></p>
    <ul>
        <li class="menu-item active">
            <a href="/admin"><i class="layui-icon layui-icon-console " ></i><span class="wb-nav-title"> 仪表盘</span> </a>
            <span class="menu-item-tip">仪表盘</span>
        </li>
        <li class="menu-item ">
            <a href="/classify"><i class="layui-icon layui-icon-table" ></i> <span class="wb-nav-title"> 分类管理</span> </a>
            <span class="menu-item-tip">分类管理</span>
        </li>
        <li class="menu-item">
            <a href="/filemanager"><i class="layui-icon layui-icon-template-1 " ></i><span class="wb-nav-title"> 附件管理</span> </a>
            <span class="menu-item-tip">附件管理</span>
        </li>
        <li class="menu-item" >
            <a href="/setting"><i class="layui-icon  layui-icon-set" ></i><span class="wb-nav-title"> 系统设置</span></a>
            <span class="menu-item-tip">系统设置</span>
        </li>
    </ul>
</div>
<div class="admin-submenu">
    <div style="width: 100%; height: 100%">
        <div class="submenu-scene">
            仪表盘
        </div>
        <div class="submenu-item">统计</div>
        <div id="admin-submenu-c">
            <i class="layui-icon layui-icon-prev"></i>
        </div>
    </div>
</div>
<div class="admin-content">
    <div class="layui-row layui-col-space30">
        <div class="layui-col-md12">
            <div class="adminpageheader">
                <h2 class="adminpagetitle">当前位置：<a href="">仪表盘</a></h2>
            </div>
            <div class="admin-block">
                <div class="block">
                    <div class="layui-row layui-col-space25">
                        <div class="layui-col-md3">
                            <a class="widget3" href="#">
                                <div class="widget3-trending text-cyan ">
                                    <i class="layui-icon layui-icon-upload-drag"></i>
                                </div>
                                <div class="widget3-value">{{range .File}}{{.Num}}{{end}}</div>
                                <div class="widget3-label">附件数</div>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <a class="widget3" href="#">
                                <div class="widget3-trending  text-orange">
                                    <i class="layui-icon layui-icon-download-circle"></i>
                                </div>
                                <div class="widget3-value">nil</div>
                                <div class="widget3-label">下载数</div>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <a class="widget3" href="#">
                                <div class="widget3-trending text-green">
                                    <i class="layui-icon layui-icon-component"></i>
                                </div>
                                <div class="widget3-value">{{range .Classify}}{{.Num}}{{end}}</div>
                                <div class="widget3-label">分类数</div>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <a class="widget3" href="#">
                                <div class="widget3-trending text-cyan ">
                                    <i class="layui-icon layui-icon-user"></i>
                                </div>
                                <div class="widget3-value">nil</div>
                                <div class="widget3-label">访问数</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>