<link href="/static/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>网站设置</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">首页</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin">后台</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>网站设置</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>网站配置
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <p>网站全局配置.</p>
                            <form role="form" id="form-site">
                                <div class="form-group  row"><label class="col-sm-2 col-form-label">网站标题</label>

                                    <div class="col-sm-10"><input type="text" class="form-control" name="WebTitle"
                                                                  value="{{sc "WebTitle"}}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row"><label class="col-lg-2 col-form-label">网站LOGO</label>
                                    <div class="col-lg-10"><input type="text" placeholder="网站LOGO的资源地址" name="LogoUrl"
                                                                  class="form-control" value="{{sc "LogoUrl"}}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row"><label class="col-sm-2 col-form-label">网站关键字</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" name="Keywords"
                                                                  value="{{sc "Keywords"}}"> <span
                                            class="form-text m-b-none">.</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row"><label class="col-sm-2 col-form-label">版权信息</label>

                                    <div class="col-sm-10"><input type="text" class="form-control"
                                                                  value="{{sc "CopyRight"}}" name="CopyRight">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row"><label class="col-lg-2 col-form-label">网站描述</label>

                                    <div class="col-lg-10"><textarea class="form-control" rows="3"
                                                                     name="Description">{{sc "Description"}}</textarea>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary btn-sm" type="button" id="siteInfo">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>个人信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="form-user">
                                <p>用户相关信息配置.</p>
                                <div class="form-group row"><label class="col-lg-2 col-form-label">账号</label>
                                    <div class="col-lg-10"><input type="text" placeholder="用户登陆账号" name="Author"
                                                                  class="form-control" value="{{sc "Author"}}">
                                    </div>
                                </div>
                                <div class="form-group row"><label class="col-lg-2 col-form-label">密码</label>
                                    <div class="col-lg-10"><input type="password" placeholder="用户登陆密码" name="Password"
                                                                  class="form-control" value="{{sc "Password"}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-sm btn-danger" type="button" id="userInfo">修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>七牛云配置</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="form-qiniu">
                                <p>七牛云存储信息配置.</p>
                                <div class="form-group row"><label class="col-lg-2 col-form-label">AccessKey：</label>
                                    <div class="col-lg-10"><input type="text" placeholder="用户登陆账号" name="Accesskey"
                                                                  class="form-control" value="{{sc "Accesskey"}}">
                                    </div>
                                </div>
                                <div class="form-group row"><label class="col-lg-2 col-form-label">SecretKey：</label>
                                    <div class="col-lg-10"><input type="password" placeholder="用户登陆密码" name="Secretkey"
                                                                  class="form-control" value="{{sc "Secretkey"}}">
                                    </div>
                                </div>
                                <div class="form-group row"><label class="col-lg-2 col-form-label">Bucket：</label>
                                    <div class="col-lg-10"><input type="text" placeholder="用户登陆账号" name="Bucket"
                                                                  class="form-control" value="{{sc "Bucket"}}">
                                    </div>
                                </div>
                                <div class="form-group row"><label class="col-lg-2 col-form-label">Zone：</label>

                                    <div class="col-lg-10">
                                        <select data-placeholder="请选择一个分类" name="Zone"
                                                class="chosen-select form-control"
                                                tabindex="2">
                                            <option></option>
                                        {{with $zone := sc "Zone"}}
                                        {{if eq $zone "storage.ZoneHuadong"}}
                                            <option value="storage.ZoneHuadong" selected>华东</option>
                                            <option value="storage.ZoneHuabei">华北</option>
                                            <option value="storage.ZoneHuanan">华南</option>
                                            <option value="storage.ZoneBeimei">北美</option>
                                        {{else if eq $zone "storage.ZoneHuabei"}}
                                            <option value="storage.ZoneHuadong">华东</option>
                                            <option value="storage.ZoneHuabei" selected>华北</option>
                                            <option value="storage.ZoneHuanan">华南</option>
                                            <option value="storage.ZoneBeimei">北美</option>
                                        {{else if eq $zone "storage.ZoneHuanan"}}
                                            <option value="storage.ZoneHuadong">华东</option>
                                            <option value="storage.ZoneHuabei">华北</option>
                                            <option value="storage.ZoneHuanan" selected>华南</option>
                                            <option value="storage.ZoneBeimei">北美</option>
                                        {{else if eq $zone "storage.ZoneBeimei"}}
                                            <option value="storage.ZoneHuadong">华东</option>
                                            <option value="storage.ZoneHuabei">华北</option>
                                            <option value="storage.ZoneHuanan">华南</option>
                                            <option value="storage.ZoneBeimei" selected>北美</option>
                                        {{else}}
                                            <option value="storage.ZoneHuadong" selected>华东</option>
                                            <option value="storage.ZoneHuabei">华北</option>
                                            <option value="storage.ZoneHuanan">华南</option>
                                            <option value="storage.ZoneBeimei">北美</option>
                                        {{end}}
                                        {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-sm btn-danger" type="button" id="niniuInfo">修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Chosen -->
<script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
<!-- layer -->
<script src="/static/layer/layer.js"></script>
<script>
    $('.chosen-select').chosen({width: "100%"});
    $("#siteInfo").click(function () {
        const postData = $("#form-site").serialize();
        $.post("/api/site/config?submit=siteInfo", postData, function (res) {
            if (res.Error === 0) {
                layer.open({
                    skin: 'layer-class',
                    title: res.Title
                    , content: res.Msg,
                    yes: function (index) {
                        window.location.href = "/admin/setting";
                    }
                });
            } else {
                layer.msg(res.Title + res.Msg, {time: 2000});
            }
        }, "json");
        return false;
    });
    $("#userInfo").click(function () {
        const postData = $("#form-user").serialize();
        $.post("/api/site/config?submit=userInfo", postData, function (res) {
            if (res.Error === 0) {
                layer.open({
                    skin: 'layer-class',
                    title: res.Title
                    , content: res.Msg,
                    yes: function (index) {
                        window.location.href = "/admin/setting";
                    }
                });
            } else {
                layer.msg(res.Title + res.Msg, {
                    icon: 2,
                    shade: [0.8, '#393D49'], // 透明度  颜色
                    time: 2000
                });
            }
        }, "json");
        return false;
    });
    $("#niniuInfo").click(function () {
        const postData = $("#form-qiniu").serialize();
        $.post("/api/site/config?submit=niniuInfo", postData, function (res) {
            if (res.Error === 0) {
                layer.open({
                    skin: 'layer-class',
                    title: res.Title
                    , content: res.Msg,
                    yes: function (index) {
                        window.location.href = "/admin/setting";
                    }
                });
            } else {
                layer.msg(res.Title + res.Msg, {
                    icon: 2,
                    shade: [0.8, '#393D49'], // 透明度  颜色
                    time: 2000
                });
            }
        }, "json");
        return false;
    });
</script>