
/* 顶部admin */
.admin-header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 101;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  transition: all 0.3s;

  .header-logo{
    float: left;
    width: 60px;
    border-bottom:1px solid #fff;
    background-color: #3a3f51;
    transition: all 0.3s;
    overflow: hidden;

    img{
      width: 130px;
    }

  }

  .header-logo.open{
    float: left;
    width: 130px;
    border-bottom:1px solid #fff;
    background-color: #3a3f51;
    img{
      width: 130px;
    }
  }

  .header-left{
    float: left;
    text-align: center;
  }

  .header-left li{
    display: block;
    float: left;
    height:100%;
    width: 60px;
    line-height: 50px;
    border-right: 1px solid #efefef;
  }
  .header-left li a:hover{
    background-color:#f9f9f9 ;
  }

  .header-left li a{
    display: block;
    color: #333;
    height: 50px;
  }

  .header-right{
    float: right;
    height: 50px;
    background-color: #fff;
  }

  .header-right-item{
    line-height: 50px;
    border-left: 1px solid #efefef;
  }

  .header-right-item a{
    font-size: 14px;
    color: #333;
    padding: 0 24.5px;  //@todo
  }

  .header-right-item a:hover{
    font-size: 14px;
    color: #000;
  }

  .layui-nav {
    padding: 0;
  }

  .layui-nav-img {
    width: 20px;
    height: 20px;
  }
}


/* 左边菜单 */

.admin-menu{
  position: fixed;
  top: 50px;
  left: 0;
  width: 60px;
  text-align: center;
  min-height: 100vh;
  z-index: 102;
  background-color: #3a3f51;
  transition: all 0.3s;


  .wb-nav-title {
    margin-left: 8px;
    transition: all 0.3s;
  }



  ul {
    margin-top: 30px;
  }

  ul li{
    height: 50px;
    line-height: 50px;
  }

  ul li i {
    color: #b4b6bd;
  }

  ul li a{
    display:block;

  }

  .menu-item {
    position: relative;

    // 控制文字跳的bug
    a {
      height: 50px;
      overflow: hidden;
    }
  }

  .menu-item-tip {
    height: 40px;
    line-height: 40px;
    width: 80px;
    text-align: center;
    position: absolute;
    top: 5px;
    display: none;
    color: #fff;
    left: 70px;
    background: rgba(36, 48, 60, 0.85);
    transition: all 0.3s;
  }

  .menu-item-tip:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px;
    border-color: rgba(36,48,60,0.85);
    border-left-width: 0;
    border-style: dashed;
    border-right-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  ul li.active{
    background: #32374a;
    border-left: 2px solid #2083fe;  //#1e2937
  }

  ul li:hover{
    background: #32374a;



  }


  ul .menu-item a{
    color: #fff;

  }

  .item-bottom{
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
  }


  .admin-menu-f{
    margin-top: 2rem;
    text-align: center;
    color: #f8f8f8;
    height: 25px;


    i {
      font-size: 12px;
    }
  }

}

.admin-menu.fold{
  .wb-nav-title {
    display: none;
    transition: all 0.3s;
  }
}

.admin-menu.open{
  width: 130px;
  .menu-item-tip{
    display: none;
    transition: all 0.3s;
  }
}

/* 抵消actioc postive bug  */
.admin-menu.open .menu-item.item-bottom.active {
  width: 126px;
  padding-left:2px;
  transition: all 0.3s;
}
.admin-menu .menu-item.item-bottom.active {
  width: 48px;
  padding-left:4px;
  transition: all 0.3s;
}



/* 子菜单 submenu */
.admin-submenu{
  position: fixed;
  left: 60px;
  top: 50px;
  width: 110px;
  min-height: 100vh;
  color: #333333;
  background-color: #fff;
  transition: all 0.3s;
  z-index: 100;
  border-right: 1px solid #efefef;


  .submenu-scene{
    overflow: hidden;
    height: 78px;
    line-height: 78px;
    text-align: center;
  }

  .submenu-item{
    height: 50px;
    line-height: 50px;
    margin-left: 25px;
  }

  ul li{
    height: 50px;
    line-height: 50px;
  }

  ul li.active{
    background: #EEEEEE;
  }

  ul li.active a{
    color: #666666;
  }

  ul li a{
    display:block;
    padding-left: 25px;
    color: #999999;
    font-size: 12px;
  }

  ul li a:hover{
    color: #666666;
    background: #EEEEEE;
  }


   #admin-submenu-c {
    position: absolute;
    width: 17px;
    height: 34px;
    background: #f5f7f9;
    top: 20px;
    left: 93px;
    line-height: 34px;
    color: #b1bfcb;
    border: 1px solid #efefef;
    border-right: none;
    cursor: pointer;
  }

  #admin-submenu-c i{
    font-size: 12px;
    padding-left: 2px;
  }

}
.admin-submenu.out{
  left: -70px;
}
#admin-submenu-c.out{
  left: 130px;
  background: #fff;
  transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* admin 面板 */

.admin-panel{
  position: fixed;
  right: 0;
  top: 50px;
  width: 170px;
  min-height: 100vh;
  z-index: 100;
  background-color: #fff;
  border-left:1px solid #efefef;
  transition: all 0.3s;
  .panel-item{
    font-size: 12px;
    background-color: white;

  }

  .item-color{
    font-size: 12px;
    background-color: #F9F9F9;


  }

  .sfqt {
    font-size: 12px;
  }

  .layui-colla-title {
    height: 55px;
    line-height: 55px;
    padding: 0 15px 0 45px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
  }


  .layui-colla-title > i:first-child {
    position: absolute;
    left: 20px;
    font-size: 14px;
  }


  .layui-colla-title > i:last-child {
    left: initial;
    right:25px;
    font-size: 12px;
  }

  .layui-collapse {
    border: none;
  }

  .layui-colla-content   ol li {
    list-style-type: decimal;
    margin-left: 1rem;
    line-height: 2;
  }

  .layui-colla-content ul li{
    list-style-type: disc;
    margin-left: 1rem;
    line-height: 2;
  }





}
.admin-panel.out {
  right: -170px;
}
.admin-panel-a {
 position: absolute;
  bottom: 40px;
  width: 100%;
  height: 20px;
  padding: 15px;
  background: #F9F9F9;

}
#admin-panel-c.out {
  i {
    font-size: 14px;
  }
  height: 34px;
  width: 120px;
  background: $blue;
  position: fixed;
  right: 15px;
  bottom: 0;
  color: #fff;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
#admin-panel-c {
  i {
    font-size: 14px;
  }

  font-size: 14px;

  position: fixed;
  text-align: center;
  width: 170px;
  right: 0;
  bottom: 0;
  color: $title-color;

  height: 40px;
  line-height: 40px;
}


/* 内容区域 */
.admin-content{
  padding: 2rem;
  margin: 30px 170px 0 170px;
  background-color:$bg-body;
  transition: all 0.3s;
}


/* 内容容器 */
.admin-block {
  /* 卡片扩展面板 */
  .block {
    background-color: #fff;
    @include has-shadow;
    @include has-radius(0px);
    margin-bottom: 1.5rem;
    .block-header {
      background-color: #f4f6f9;
      padding: 0.8rem 1.5rem;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .block-title {
        color: #768093;
        font-size: 1rem;
      }

    }

    .block-body {
      background-color: #fff;
      padding: 2.5rem 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .block-action {
      padding: 2.5rem 2.5rem 1rem;
    }
    .block-tab {
      padding: 0rem 2.5rem;
       .layui-tab-brief .layui-tab-title li {
         margin: 0 26px 0 0;
         padding: 0;
         line-height: 42px;
      }
    }

    /* 设置的界面布局样式 */
    .block-table {
      background-color: #f8f8f8;
      .layui-col-md2 {
        padding: 45px  35px  0px 35px;
        text-align: center;
        font-weight: bold;
        color: $title-color;
      }
      .layui-col-md10 {
        padding: 35px;
        border-left: 3px solid #fff;
      }
    }

    .layui-tab-content {
      padding: 0;
    }


  }
}

/* 底部容器 */
.admin-footer {
  margin: 0 auto;
  margin-top: -1.5rem;
  text-align: center;
}

.admin-menu.open + .admin-submenu{
  left: 130px;
}
.admin-menu.open + .admin-submenu.out{
  left: 1px;
}

/* 管理面包屑 */
.adminpageheader {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: $title-color;
  border-left:4px solid $blue;
  padding-left: 10px;
  line-height: 14px;
  .adminpagetitle {
    font-size: 12px;
  }
}