/* 全局背景 */
body {
  background-color: $bg-body;
  color: $text-color;
}

/* 链接 */
a {
  color: $link-color;
}
a:hover {
  color: $link-hover-color;
}


/* 主题文本颜色和背景颜色 */
@each $text, $color in $colors {
  .text-#{$text} {
    color: $color!important;
  }
  .bg-#{$text} {
    background-color: $color!important;
  }
}



